black==23.9.1
certifi==2023.7.22
charset-normalizer==3.3.1
click==8.1.4
distlib==0.3.7
filelock==3.12.2
gitdb==4.0.11
GitPython==3.1.40
idna==3.4
isort==5.12.0
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.11.0
PyQt3D==5.15.6
PyQt3D-Qt5==5.15.11
PyQt5==5.15.10
PyQt5-Qt5==5.15.11
PyQt5-sip==12.13.0
PyQt6==6.4.2
PyQt6-3D==6.5.0
PyQt6-3D-Qt6==6.5.3
PyQt6-Charts==6.5.0
PyQt6-Charts-Qt6==6.5.3
PyQt6-DataVisualization==6.5.0
PyQt6-DataVisualization-Qt6==6.5.3
PyQt6-NetworkAuth==6.5.0
PyQt6-NetworkAuth-Qt6==6.5.3
PyQt6-Qt6==6.4.3
PyQt6-sip==13.5.2
PyQt6-WebEngine==6.5.0
PyQt6-WebEngine-Qt6==6.5.3
PyQtChart==5.15.6
PyQtChart-Qt5==5.15.11
PyQtDataVisualization==5.15.5
PyQtDataVisualization-Qt5==5.15.11
PyQtNetworkAuth==5.15.5
PyQtNetworkAuth-Qt5==5.15.11
PyQtPurchasing==5.15.5
PyQtPurchasing-Qt5==5.15.11
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.11
PyStarter==1.5.1
python-dotenv==1.0.0
qt6-applications==6.4.3.2.3
requests==2.31.0
smmap==5.0.1
urllib3==2.0.7
virtualenv==20.24.5
